<div id="map"></div>
<button nz-button (click)="rotateLeft()">左旋</button>
<button nz-button (click)="rotateRight()">右旋</button>
<button nz-button (click)="pan(london)">pan to london</button>
<button nz-button (click)="elastic(moscow)">elastic to moscow</button>
<button nz-button (click)="bounce(istanbul)">bounce to istanbul</button>
<button nz-button (click)="spin(rome)">spin to rome</button>
<button nz-button (click)="fly(bern)">fly to bern</button>
<button nz-button (click)="rotateAround(rome)">rotate around rome</button>
<button nz-button (click)="tour()">take a tour</button>
