<ul>
  <li><a routerLink="/simple-map">simple-map</a></li>
  <li><a routerLink="/map-zoom">map-zoom</a></li>
  <li><a routerLink="/map-mouse-position">map-mouse-position</a></li>
  <li><a routerLink="/map-overview-map">map-overview-map</a></li>
  <li><a routerLink="/map-rotate">map-rotate</a></li>
  <li><a routerLink="/map-scaleline">map-scaleline</a></li>
  <li><a routerLink="/map-layer-switch">map-layer-switch</a></li>
  <li><a routerLink="/map-tile-coordinate">map-tile-coordinate</a></li>
  <li><a routerLink="/map-resolution">map-resolution</a></li>
  <li><a routerLink="/map-osm-xyz">map-osm-xyz</a></li>
  <li><a routerLink="/map-baidu-xyz">map-baidu-xyz</a></li>
  <li><a routerLink="/map-vector-source">map-vector-source</a></li>
  <li><a routerLink="/map-wms-single-image">map-wms-single-image</a></li>
  <li><a routerLink="/map-wms-tile">map-wms-tile</a></li>
  <li><a routerLink="/map-draw-style">map-draw-style</a></li>
</ul>
<router-outlet></router-outlet>
