<!-- <ul>
  <li>
    <a routerLink="/sc-map">sc-map</a>
  </li>
  <li>
    <a routerLink="/map-feature-select">高亮要素</a>
  </li>
  <li><a routerLink="/simple-map">simple-map</a></li>
  <li><a routerLink="/map-zoom">map-zoom</a></li>
  <li><a routerLink="/map-mouse-position">map-mouse-position</a></li>
  <li><a routerLink="/map-overview-map">map-overview-map</a></li>
  <li><a routerLink="/map-rotate">map-rotate</a></li>
  <li><a routerLink="/map-scaleline">map-scaleline</a></li>
  <li><a routerLink="/map-layer-switch">map-layer-switch</a></li>
  <li><a routerLink="/map-tile-coordinate">map-tile-coordinate</a></li>
  <li><a routerLink="/map-resolution">map-resolution</a></li>
  <li><a routerLink="/map-osm-xyz">map-osm-xyz</a></li>
  <li><a routerLink="/map-baidu-xyz">map-baidu-xyz</a></li>
  <li><a routerLink="/map-vector-source">map-vector-source</a></li>
  <li><a routerLink="/map-wms-single-image">map-wms-single-image</a></li>
  <li><a routerLink="/map-wms-tile">map-wms-tile</a></li>
  <li><a routerLink="/map-draw-style">map-draw-style</a></li>
  <li><a routerLink="/map-edit-graphic">map-edit-graphic</a></li>
  <li><a routerLink="/map-label-text">map-label-text</a></li>
  <li><a routerLink="/map-label-image">map-label-image</a></li>
  <li><a routerLink="/map-label-overlay">map-label-overlay</a></li>
  <li><a routerLink="/map-animation">map-animation</a></li>
  <li><a routerLink="/map-overlay">map-overlay</a></li>
  <li><a routerLink="/box-selection">圈选图元</a></li>
  <li>
    <a routerLink="/style-feature-with-canvas">使用canvas给feature设置style</a>
  </li>
  <li>
    <a routerLink="/advanced-view-positioning">高级定位</a>
  </li>
  <li>
    <a routerLink="/clustered-features">聚合图层</a>
  </li>
  <li>
    <a routerLink="/map-feature-ripple">波纹效果 + overlay上浮抖动</a>
  </li>
  <li>
    <a routerLink="/custom-control">自定义控件</a>
  </li>
  <li>
    <a routerLink="/map-fixed-extent">固定视野</a>
  </li>
  <li>
    <a routerLink="/map-feature-surface">overlay上浮</a>
  </li>
  <li>
    <a routerLink="/test">中转</a>
  </li>
  <li>
    <a routerLink="/map-modify-area">修改</a>
  </li>
</ul> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-k-map></app-k-map> -->
<app-track-map></app-track-map>
