/* You can add global styles to this file, and also import other style files */
@import './assets/ol.css';

// .map-container {
//   height: 600px;
//   width: 100%;
// }
#map {
  height: 600px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 10px;
  }
}

#beijing {
  width: 40px;
  height: 20px;
  border: 1px solid #F00;
  border-radius: 10px;
  background-color: #F00;
  opacity: 0.8;
}
