/* You can add global styles to this file, and also import other style files */
@import './assets/ol.css';

// .map-container {
//   height: 600px;
//   width: 100%;
// }
#map {
  height: 600px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 10px;
  }
}

#beijing {
  width: 40px;
  height: 20px;
  border: 1px solid #F00;
  border-radius: 10px;
  background-color: #F00;
  opacity: 0.8;
}


.ol-dragbox {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(100, 150, 0, 1);
}



// 椭圆波纹


.ripple {
  position: absolute;
  background: transparent;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 10px;
  border-radius: 50%;
}


@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 2px #abf8f4;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 40px;
    height: 20px;
    box-shadow: 0 0 0 2px #abf8f4;
    opacity: 0;
  }
}

.pulse1,
.pulse2,
.pulse3 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%/50%;
  transform: translate(-50%, -50%);
  animation: ripple 3s infinite ease-in-out;
  box-shadow: 0 0 0 2px #abf8f4;
  width: 0px;
  height: 0px;
}

.pulse1 {
  animation-delay: 0s;
}

.pulse2 {
  animation-delay: 1s;
}

.pulse3 {
  animation-delay: 2s;
}

// 弹窗
.ol-popup {
  position: absolute;
  background-color: #CF8138;
  padding: 8px 10px;
  line-height: 1;
  border-radius: 5px;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  // updown
  // animation: upAndDown 1s infinite ease-in-out;
  // surface 浮出
  animation: surface 2s ease-in-out 1s 1 forwards;

  p {
    margin-bottom: 0;
    color: white;
  }

  &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }


  &:before {
    border-top-color: #CF8138;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
  }
}

@keyframes upAndDown {
  0% {
    bottom: 8px;
  }

  100% {
    bottom: 15px;
  }
}

@keyframes surface {
  0% {
    bottom: -20px;
    opacity: 0;
  }

  100% {
    bottom: 8px;
    opacity: 1;
  }
}
