<div class="sc-map-container">
  <div class="left">
    <div class="map-container" id="main">
      <p>main-map works!</p>
      <div class="map">
        <app-k-map
          [mapView]="mapView"
          (onMapLoaded)="onMainMapLoaded($event)"
        ></app-k-map>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="map-container" id="second">
      <p>second-map works!</p>
      <div class="map">
        <app-k-map [mapView]="mapView"></app-k-map>
      </div>
    </div>
    <div class="map-container" id="three">
      <p>three-map works!</p>
      <div class="map">
        <app-k-map [mapView]="mapView"></app-k-map>
      </div>
    </div>
  </div>
</div>
