.sc-map-container {
  display: flex;
  height: 100%;
  .map-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    p {
      flex: 0 0 initial;
    }
    .map {
      flex: 1;
    }
  }
  .left {
    flex: 3;
    margin-right: 20px;
  }
  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    .map {
      flex: 1;
    }
  }
}
